table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    width: 40%;
}

table td, table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}

table thead th {
    background-color: #CCE8EB;
    width: 10%;
}

table tr:nth-child(odd) {
    background: #fff;
}

table tr:nth-child(even) {
    background: #F5FAFA;
}